:root {
  --color: #24BA9F;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}


/* page-header */

.page-header {
  height: 40px;
  background: #000;
}
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.page-logo {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

.page-logo span {
  color: var(--color);
  font-weight: bold;
}

.page-nav {}

.page-nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-nav-list li {
  position: relative;
}

.page-nav-list a {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 0 25px;
  display: flex;
  align-items: center;
  height: 40px;
}

.page-nav-list a:hover {
  color: var(--color);
}

.page-nav-sublist::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #000;
  position: absolute;
  top:0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.page-nav-sublist::after {
  content: "";
  width: 100%;
  height: 15px;
  display: block;
  position: absolute;
  left:0;
  top: -15px;
  background: transparent;
}

.page-nav-sublist {
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  transform: translate(-50%);
  list-style: none;
  padding: 15px;
  margin: 0;
  background: #000;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.page-nav-sublist a {
  padding: 5px;
  height: auto;
  font-weight: normal;
  text-transform: none;
}

.page-nav-list li:hover .page-nav-sublist {
  opacity: 1;
  pointer-events: all;
}


.slider-bg {
  height: 500px;
  background: linear-gradient(#fafafa, #ccc)
}

.slider {
  display: flex;
  height: 500px;
}

.slider-prev,
.slider-next {
  width: 90px;
  font-size: 80px;
  color: var(--color);
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
}

.slider-prev:active,
.slider-next:active {
  font-size: 70px;
}

.slider-next {
  order: 1;
}

.slider-list {
  flex-grow: 1;
  position: relative;
}

.slider-slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.7s;
}

.slider-slide.active {
  opacity: 1;
  pointer-events: all;
}